.slideChildrenContainer--carousel{
    background: #212121;
    max-width:100%;
}
.sliderLayoutContainer--carousel{
    background: #212121;
}

.slideChildrenContainer--products{
    margin: 80px;
}


.caretIcon--carousel {
    width: 50%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    margin: 80px;
    color: #59ff00;
    background: #212121;
}